html{
    font-size: 62.5%; /*Reset para REMS - 62.5%=10px de 16px*/
}

/*Cuerpo de la web*/
body {
    background: #ece8d9;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top:100px;
    margin-left:5%;
    height: 100%;
}









