
.iconosbuscador{
    width: 2.4rem;
    height: 100%;
}

.destinyHome{
    display: flex;
    flex-direction: row;
}

.destinyHome input{
    padding:0;
    display: flex;
}
.columnLg3BuscadorIndex{
    display: flex;
    width: 2.4rem;
    height: 100%;
}

.columnLg2BuscadorIndex{
    display: flex;
    flex-direction: row;
    width: 2.4rem;
    height: 100%;
}

.columnLg1BuscadorIndex {
    display: flex;
    flex-direction: row;
    width: 2.4rem;
    height: 100%;
    justify-content: space-between;

}
.columnLg1BuscadorIndexbot{
    background: dodgerblue;
    border-radius: 1rem;
}

.columnLg1BuscadorIndexbot:hover {
    background: #f8b500;
    border-radius: 1rem;
    border-color: #f8b500;
}

.columnLg1BuscadorIndexbot input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columnLg1BuscadorIndexbot{
    width: 80%;
    height: 100%;
    font-size: 1.6rem;
}

#titulo{
    padding-top: 5rem;
    text-align: center;
}


h3{
    display: block;
    color: black;
}
.imgCarousel{
    alignment: center;
    width: 150%;
    height: auto;
}
.coment{
    text-align: center;
    width: 100%;

}

.carousel-wrapper{
    background-image: none;
    height: 42.5rem;
}
.carousel-wrapper img{
    max-width: 100%;
}

.boton{
    margin: 1rem 0 1rem 25%;
    width: 50%;
    background: dodgerblue;
    border-radius: 1rem;
}
.boton:hover{
    background: #f8b500;
    border-radius: 1rem;
    border-color: #f8b500;
}






