html{
    font-size: 62.5%;
}

/*Cuerpo de la web*/
body {
    background: #393e46;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 100px;
    margin-left: 5%;
    height: auto;
}



/*Pantalla de login*/
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ece8d9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-size: 1.6rem;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #393e46;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    z-index: 10;
    height: 170px;
    width: auto;
    margin: 0 0 0 -105px;


}
.form_container {
    margin-top: 100px;
}

.icono{
    width: 24px;
    height: auto;
}
.login{
    font-size: 1.6rem;
}

.login_btn {
    width: 100%;
    background: #00adb5 !important;
    color: #ece8d9!important;
    font-size: 1.6rem;
}
.login_btn:hover{
    background: #f8b500!important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #00adb5 !important;
    color: #ece8d9 !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.checkbox{
    font-size: 7rem;
}



.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #f8b500 !important;

}


/*Footer*/
footer {
    font-size: 1.6rem;
    background: #ece8d9;
    color: #393e46;
    /*padding: 45px 50px 46px 50px;*/
    position: absolute;
    bottom: 0;
}
footer h5{
    font-size: 2rem;
}

footer img {
    width: 80% !important;
    margin: 0 auto;

}




