/*Cuerpo de la web*/
body {
    background: #393e46;
    font-family: 'Lato', sans-serif;
}

main {
    margin-top: 100px;
    margin-left: 5%;
    height: auto;
}

/*Barra superior login*/
#login {
    float: right;
    margin: 10px 5px 10px 0;
}

#login img {
    width: 20px;
    height: auto;
}

/*Barra de navegacion*/
.nav {

    background: #00adb5;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    height: 100%;
    border-radius: 3rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3em;
}

.nav-pills .nav-link {
    color: #393e46;
    border-radius: 3rem;
}

.nav-pills .nav-link .active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f8b500 !important;
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

/*Logo superior*/
.wiku-header {

    background: #ece8d9;
    margin: 0 auto;
    height: 100px;
    padding: 0 30px 0 30px;
}

.wiku-header a {
    align-items: center;
}

.wiku-header a > img {
    margin-top: 15px;
}

/*Pantalla de login*/
#fieldLogin {
    padding: 50px 0 50px 0;
    alignment: center;
    text-align: center;
    width: 90%;
    height: auto;
    background: #ece8d9;
    border: solid;
    margin-bottom: 112px;
}
.label{
    margin-right: 10px;
}
.button1 {
    background: #00adb5;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: all;
    cursor: pointer;
    width: 100px;
    height: 40px;
}

.button1:hover {
    background-color: #f8b500;
}

/*Footer*/
footer {
    background: #ece8d9;
    color: #393e46;
    padding: 45px 50px 46px 50px;
    margin: 5% 0 0 0;
    height: 100%;
}

footer img {
    width: 100%;
}




