html{
    font-size: 62.5%;
}

/*Cuerpo de la web*/
body {
    background: #ece8d9;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

main {
    margin-top: 10rem;
    margin-left: 5%;
    height: 100%;
}

/*Menu*/
#field {
    border: solid #343a40;
    border-radius: 0.5rem;
    margin-top: 5%;
    width: 95%
}

#div2, #div1 {
    display: inline-block;
}

#imagen {
    border-radius: 50%;
    width: 40%;
}

#saludo {
    background: none;
    border: none;
}

.parrafo {
    display: inline-block;
    width: 20rem;
    margin-bottom: 2rem;
}

.botonMenu {
    background: none;
    color: #00adb5;
    border: none;
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    font-family: 'Lato', sans-serif;
}

.botonMenu:hover {
    color: #f8b500;
}




.sidebar-wrapper .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.sidebar-wrapper .navbar>.container,
.sidebar-wrapper .navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sidebar-wrapper .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.sidebar-wrapper .navbar-brand:hover,
.sidebar-wrapper .navbar-brand:focus {
    text-decoration: none;
}

.sidebar-wrapper .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar-wrapper .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.sidebar-wrapper .navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.sidebar-wrapper .navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sidebar-wrapper .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.sidebar-wrapper .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.sidebar-wrapper .navbar-toggler:hover,
.sidebar-wrapper .navbar-toggler:focus {
    text-decoration: none;
}

.sidebar-wrapper .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.sidebar-wrapper .navbar-toggler-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}





