html, body, .block {
    height: 100%;
}
.input-field .prefix ~ label {
    margin-left: 3rem;
    font-size: 1.6rem;
}


.pin-top {
    position: relative;
   top: 4rem;
}


.pin-bottom {
    position: relative;
    top: 4rem;

}


.pinned {
    position: fixed !important;
    top: 4rem;
}