.icons {
    font-size: 2.8rem !important;
}

.input-field .prefix ~ label {
    margin-left: 3rem;
    font-size: 1.6rem;
}

.input-browser {
    width: calc(100% - -24rem);
}

.destinyHome {
    display: flex;
    flex-direction: row;
}

.destinyHome input {
    padding: 0;
    display: flex;
}

.columnLg3BuscadorIndex {
    display: flex;
    width: 2.4rem;
    height: 100%;
}

.columnLg2BuscadorIndex {
    display: flex;
    flex-direction: row;
    width: 2.4rem;
    height: 100%;
}

.columnLg1BuscadorIndex {
    display: flex;
    flex-direction: row;
    width: 2.4rem;
    height: 100%;
    justify-content: space-between;

}

.columnLg1BuscadorIndexbot {
    background: dodgerblue;
    border-radius: 1rem;
}

.columnLg1BuscadorIndexbot:hover {
    background: #f8b500;
    border-radius: 1rem;
    border-color: #f8b500;
}

.columnLg1BuscadorIndexbot input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columnLg1BuscadorIndexbot {
    width: 80%;
    height: 100%;
    font-size: 1.6rem;
}

#titulo {
    padding-top: 5rem;
    text-align: center;
}


h3 {
    display: block;
    color: black;
}

#carousel-one {
    background-image: url("/WikuAirlines/resources/img/cities/KualaLumpur.jpeg");
    background-size: 100%;
}

#carousel-two {
    background-image: url("/WikuAirlines/resources/img/cities/Londres.jpeg");
    background-size: 100%;
}

#carousel-three {
    background-image: url("/WikuAirlines/resources/img/cities/SanFrancisco.jpeg");
    background-size: 100%;
}

#carousel-four {
    background-image: url("/WikuAirlines/resources/img/cities/pexels-photo-236451.jpeg");
    background-size: 100%;

}








