

<!-- delimitacion de la barra de navegacion -->
<div class="wiku-header">
    <div class = "row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <form>
                                <div class="row">
                                    <div class="col login">
                                        <label>Usuario: </label>
                                        <input type="text" class="form-control"/>
                                    </div>
                                    <div class="col login">
                                        <label>Contraseña: </label>
                                        <input type="password" class="form-control login"/>

                                    </div>
                                    <a href="#">
                                    <img id=login src="img/Icons/01-%20Light/06-PNG/24w/login-2.png" alt="iconoLogin">
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <nav class="nav nav-pills nav-fill">
                        <a onclick="activo(this)" id="index" class="nav-item nav-link active" href="/Web_Vuelos_1.0/Index.html">Inicio</a>

                        <a onclick="activo(this)" id="destinos" class="nav-item nav-link" href="/Web_Vuelos_1.0/Destino.html">Destinos</a>

                        <a onclick="activo(this)" id="ofertas" class="nav-item nav-link" href="#">Ofertas</a>

                        <a onclick="activo(this)" id="misDatos" class="nav-item nav-link" href="#">Mis viajes</a>

                        <a onclick="activo(this)" id="quienSoy" class="nav-item nav-link" href="#">¿Quienes somos?</a>

                        <a onclick="activo(this)" class="nav-item nav-link" href="#">Contacto</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./ delimitacion de la barra de navegacion -->