.icons {
    font-size: 2.8rem !important;
}

.input-field{
    width: 95%;
}

.input-field .prefix ~ label {
    margin-left: 3rem;
    font-size: 1.3rem;
}

.carousel{
    height: 40rem !important;
}
.carousel-title{
    border-radius: 1rem;
    width: 39rem!important;
    filter: blur(2.6rem);
    height: 10.5rem;
    margin: 6rem;
    z-index: -8;
    -webkit-opacity: 0;
}
h1{
color: dodgerblue ;
z-index: 20;
margin: -13rem;
line-height: 1.2;
font-weight: 400;
font-family: 'Leckerli One', Helvetica, sans-serif;
transition: 1s;
-webkit-transition: 1s;
}


h1:hover{
z-index: 1;
margin: -13rem;
line-height: 1.2;
font-weight: 400;
font-family: 'Leckerli One', Helvetica, sans-serif;
color: #f8b500 ;
transition: 1s;
}
.destinyHome {
display: flex;
flex-direction: row;
}

.destinyHome input {
padding: 0;
display: flex;
}

.columnLg3BuscadorIndex {
display: flex;
width: 2.4rem;
height: 100%;
}

.columnLg2BuscadorIndex {
display: flex;
flex-direction: row;
width: 2.4rem;
height: 100%;
}

.columnLg1BuscadorIndex {
display: flex;
flex-direction: row;
width: 2.4rem;
height: 100%;
justify-content: space-between;

}

.columnLg1BuscadorIndexbot {
background: dodgerblue;
border-radius: 1rem;
}

.columnLg1BuscadorIndexbot:hover {
background: #f8b500;
border-radius: 1rem;
border-color: #f8b500;
}

.columnLg1BuscadorIndexbot input {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.columnLg1BuscadorIndexbot i{
font-size:2rem;
}

.columnLg1BuscadorIndexbot {
width: 100%;
height: 100%;
font-size: 1.6rem;
}

#titulo {
padding-top: 5rem;
text-align: center;
}


h3 {
display: block;
color: black;
}

#carousel-one {
background-image: url("../img/cities/KualaLumpur.jpeg");
background-size: auto;
background-position: center;
}

#carousel-two {
background-image: url("../img/cities/Londres.jpeg");
background-size: auto;
background-position: center;
}

#carousel-three {
background-image: url("../img/cities/SanFrancisco.jpeg");
background-size: auto;
background-position: center;
}

#carousel-four {
background-image: url("../img/cities/pexels-photo-236451.jpeg");
background-size: auto;
background-position: center;

}








