body{
    background: #393e46;
}

main{
    height: 55vh;
}

/*Pantalla de Login*/
.user_card {
    width: 35rem;
    background: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.5rem;
    font-size: 1.6rem;
    margin:0 auto;
}
.brand_logo_container {
    position: absolute;
    height: 17rem;
    width: 17rem;
    top: 0;
    border-radius: 50%;
    background: #393e46;
    padding: 1rem;
    text-align: center;
    margin-left: 5.5rem;
}
.brand_logo {
    z-index: 10;
    height: auto;
    width: 15rem;
    margin: 3.1rem 0 0 -1.5rem;


}

.row-login{
    margin-top: 9rem;
}

.form_container {
    margin-top: 10rem;
}

.login_container {
    padding: 0 2rem;
}



.input-field .prefix ~ label {
    margin-left: 3rem;
    font-size: 1.6rem;
}
.input-field .prefix ~ input {
   height: 4rem;
}

[type="checkbox"] + span:not(.lever) {
    font-size: 1.6rem;
    color: #9e9e9e;
}
.login_container {
    padding: 0 0 0 11.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#labrec{
    font-size: 1.6rem;
}




